@model List<MVC.Model.Product>
  
<div class = "container">
    <div class="row pt-4 pb-3">
        <div class = "col-6">
    
<h2 class = "text-primary">category list</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="Product" asp-action="create">create category <i
                    class="bi bi-plus-square-fill"></i></a>
            
        </div>

    </div>    



<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                <td>@obj.Author</td>
                 <td>@obj.CategoryId</td>
               <td>
                <div class="w-75 btn-group">
                    <a class = "btn btn-primary mx-2" asp-controller="Product" asp-action="edit" asp-route-Id="@obj.Id">edit <i class="bi bi-pencil-square"></i></a>
                    <a class = "btn btn-danger" asp-controller="Product" asp-action="delete" asp-route-Id="@obj.Id">delete<i class="bi bi-trash3-fill"></i></a>
          
            <td/>
            </div>
           

            </tr>
            
        }
    </tbody>
</table>
</div>